.wrapper__topBar {
  position: relative;
}

.wrapper__product {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.wrapper__product-image {
  width: 100%;
  height: 50vh;
  position: relative;
}

.wrapper__product-image-img,
.wrapper__product-image-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper__product-image-hover {
  display: none;
}

.wrapper__product-details {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: var(--white-color);
}

.wrapper__product-title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.wrapper__product-id {
  color: var(--gray-color);
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.wrapper__product-price {
  font-size: 2.8rem;
  color: var(--price-color);
  font-weight: bold;
  margin-bottom: 15px;
}

.wrapper__product-description {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.wrapper__product-details-addToCart {
  background: var(--add-button-color);
  color: var(--white-color);
  padding: 14px 24px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 2rem;
  text-align: center;
  transition: background-color 0.3s;
}

.wrapper__product-details-addToCart:hover {
  background-color: var(--add-button-color-hover);
}

@media screen and (min-width: 600px) {
  .wrapper__product {
    flex-direction: row;
  }

  .wrapper__product-image {
    width: 50%;
    height: 100vh;
  }

  .wrapper__product-details {
    width: 50%;
    height: 100vh;
  }

  .wrapper__product-image-img,
  .wrapper__product-image-hover {
    transition: opacity 0.2s ease-in-out;
  }

  .wrapper__product-image-hover {
    display: block;
    opacity: 0;
  }

  .wrapper__product-image:hover .wrapper__product-image-img {
    opacity: 0;
  }

  .wrapper__product-image:hover .wrapper__product-image-hover {
    opacity: 1;
  }
}
