body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.wrapper__product {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  width: 100%;
  padding: 25px;
  margin-top: 110px;
  background: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--product-shadow);
}

.wrapper__product-image {
  position: relative;
  flex: 1;
  width: 100%;
  padding-top: 100%;
  min-width: 300px;
}

.wrapper__product-image-img,
.wrapper__product-image-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.2s ease-in-out;
}

.wrapper__product-image-hover {
  opacity: 0;
}

.wrapper__product-image:hover .wrapper__product-image-img {
  opacity: 0;
}

.wrapper__product-image:hover .wrapper__product-image-hover {
  opacity: 1;
}

.wrapper__product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper__product-title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.wrapper__product-id {
  color: var(--gray-color);
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.wrapper__product-price {
  font-size: 2.8rem;
  color: var(--price-color);
  font-weight: bold;
  margin-bottom: 15px;
}

.wrapper__product-description {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.wrapper__product-details-addToCart {
  background: var(--add-button-color);
  color: var(--white-color);
  padding: 14px 24px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 2rem;
  text-align: center;
  transition: background-color 0.3s;
}

.wrapper__product-details-addToCart:hover {
  background-color: var(--add-button-color-hover);
}

@media screen and (min-width: 705px) {
  .wrapper__product {
    flex-direction: row;
  }
}
