:root {
  --main-font: "Nunito", sans-serif;
  --white: #fff;
  --orange: #d88e49;
  --dark: #000000;
  --darker: #191919;
  --border-line: 1px solid #191919;
  --background-shadow: rgba(0, 0, 0, 0.6);
  --burger-icon-color: orange;
  --register-bac-color: #333;
}
