* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--main-font);
}

:root {
  --main-font: "Open Sans", sans-serif;
  --white-color: #ffffff;
  --orange-color: #d88e49;
  --add-button-color: #ff6600;
  --add-button-color-hover: #cc5200;
  --show-more-color: #e7872d;
  --price-color: #e60000;
  --black-color: #000000;
  --background-shadow: rgba(0, 0, 0, 0.6);
  --product-shadow: rgba(0, 0, 0, 0.2);
  --gray-color: #b3adad;
}
