.main__frame {
  width: 100%;
  color: var(--main-color);
}

.main__frame-text {
  text-align: left;
}

.main__frame-text-about {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
}

.main__frame-text-title {
  padding-top: 4px;
  font-size: 3.2rem;
  font-weight: 700;
}

.swiper {
  margin-top: 32px;
  padding: 0 0 64px;
  z-index: 0;
}

.swiper-navigation__prev-btn,
.swiper-navigation__next-btn {
  position: absolute;
  top: 29%;
  width: 62px;
  height: 62px;
  z-index: 2;
  cursor: pointer;
}

.swiper-navigation__prev-btn {
  left: 8px;
}

.swiper-navigation__next-btn {
  right: 40px;
}

.swiper-navigation__prev-btn-icon {
  transform: rotate(180deg);
}

.swiper-slide {
  text-align: center;
}

.swiper-slide__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-back-color);
  aspect-ratio: 1 / 1;
  border-radius: 6px;
}

.swiper-slide__img-container img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 86.16%;
}

.swiper-slide__img-bestsellerContainer,
.swiper-slide__img-editionContainer {
  position: absolute;
  top: 16px;
  left: 16px;
  height: 7%;
  width: fit-content;
  border-radius: 1000px;
  padding: 10px;
}

.swiper-slide__img-bestsellerContainer {
  background-color: var(--best-color);
}

.swiper-slide__img-editionContainer {
  background-color: var(--purple-color);
}

.swiper-slide__img-bestsellerContainer-text,
.swiper-slide__img-editionContainer-text {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: clamp(0.85rem, 1vw, 1.2rem);
}

.swiper-slide__img-wishlistContainer {
  position: absolute;
  top: 16px;
  right: 16px;
}

.swiper-slide__img-wishlistContainer-icon {
  transition: transform 0.3s ease;
  cursor: pointer;
}
.swiper-slide__img-wishlistContainer-icon:hover {
  content: url("../img/FAV\ ICON=Fill.png");
  transform: scale(1.1);
}

.swiper-slide__info-container {
  text-align: left;
  margin-top: 24px;
  padding-left: 12px;
}

.swiper-slide__info-container-name {
  font-size: 2rem;
  height: 80px;
}

.swiper-slide__info-container-price {
  margin-top: 12px;
  font-size: 1.6rem;
}

.swiper-pagination {
  height: 1px !important;
  top: unset !important;
  bottom: 0px;
}

.swiper-pagination-progressbar-fill {
  transition: width 0.3s ease;
}

@media screen and (min-width: 1100px) {
  .swiper-navigation__prev-btn,
  .swiper-navigation__next-btn {
    top: 25%;
  }
  .swiper-navigation__prev-btn {
    left: 10px;
  }

  .swiper-navigation__next-btn {
    right: 22px;
  }
}
@media screen and (min-width: 1500px) {
  .swiper-navigation__prev-btn,
  .swiper-navigation__next-btn {
    top: 35%;
  }
  .swiper-navigation__prev-btn {
    left: 37px;
  }

  .swiper-navigation__next-btn {
    right: 50px;
  }
}
