* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Inter", sans-serif;
  --white-color: #ffffff;
  --main-color: #1d1d1d;
  --main-back-color: #eaeae8;
  --swiper-theme-color: #1d1d1d;
  --best-color: #d9d6b0;
  --purple-color: #d4b0d9;
}

html {
  font-size: 62.5%;
  font-family: var(--main-font);
  color: var(--main-color);
  padding: 0 16px;
}

.main {
  width: 100%;
  text-align: center;
  margin-top: 88px;
  margin-bottom: 100px;
}

.main__hero {
  margin-top: 24px;
}

.main__logo-img,
.main__hero-img {
  width: 100%;
  max-width: 328px;
}

.main__frame {
  margin-top: 36px;
}

@media (min-width: 700px) {
  html {
    padding: 0 42px;
  }
}

@media (min-width: 550px) {
  .main {
    text-align: unset;
  }
  .main__logo-img {
    max-width: 918px;
    text-align: left;
    content: url("../img/LOGO FORMA desktop.png");
  }
  .main__hero {
    width: 100%;
    content: url("../img/HERO PHOTO dekstop.png");
  }
}
